*{
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  background-color: lightblue;
  max-width: 80vw;
}

.pokeDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  text-align: center;
  width: 150px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.pokeName{
  margin-bottom: 5px;
  width: 90%;
  padding: 2px 5px;
  border-radius: 20px;
  background-color: orange;
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.pokeImage{
  margin-bottom: 0;
  max-width: 100px;
}

.pokeList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

#filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(80vw - 10px);
  background-color: orange;
  height: 50px;
  position: fixed;
  margin-top: -50px;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  padding: 0 20px
}

#filters input{
  text-align: right;
  max-width: 60px;
}