<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>
</head>
<body>
<h1>Very secret page!</h1>
<p th:text="${'Logget inn som: ' + #httpServletRequest.remoteUser}"></p>

<div sec:authorize="hasRole('ROLE_ADMIN')">
  <h2>Kun for administratorer!</h2>
</div>

<form th:action="'/logout'" method="post">
  <input type="submit" value="logg ut">
</form>

</body>
</html>