<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Books</title>
</head>
<body>
<h1>Customers</h1>
<a href="/addnewcustomer">new customer</a>
    <table style="text-align:left">
        <tr>
            <th>First Name</th>
            <th>Last name</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <th><a th:href="'/customers/'+${customer.id}" th:text="${customer.firstName}"></a></th>
            <th th:text="${customer.lastName}"></th>
        </tr>
    </table>
<a href="/">view books</a>
</body>
</html>