<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="/saveedits" method="post" th:object="${book}">
    <label hidden for="id">id:</label>
    <br>
    <input id="id" type="hidden" th:field="*{id}">
    <br><br>
    <label for="title">title:</label>
    <br>
    <input id="title" type="text" th:field="*{title}">
    <br><br>
    <label for="author">author:</label>
    <br>
    <input id="author" type="text" th:field="*{author}">
    <br><br>
    <label for="price">price:</label>
    <br>
    <input id="price" type="text" th:field="*{price}">
    <br>
    <input type="submit">
  </form>

</body>
</html>