<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Customer</title>
  <style>
    .fieldError{
      border-color:red;
    }
  </style>
</head>
<body>
    <h1>Customer</h1>

    <form action="/saveCustomer" th:object="${customer}" method="POST">
        First name: <input type="text" th:field="*{firstName}" th:errorclass="fieldError"/>
        Last name: <input type="text" th:field="*{lastName}" th:errorclass="fieldError"/>
        Email address: <input type="text" th:field="*{email}" th:errorclass="fieldError"/>
        Password: <input type="text" th:field="*{password}" th:errorclass="fieldError"/>
        <input th:if="${id != null}" type="hidden" th:field="*{id}"/>
        <input type="submit" value="Save customer">
    </form>
</body>
</html>